:root {
    --primary-color: #1f1f1f;
    --secondary-color: #ecae1f;
    --white-color: #f7f7f7;
    --grey-color: #a1a09e;
    --background-color: #f7f7f7;
}


//menu height and main padding for section
$menu-height: 80px;

$mobile-padding: 40px;